<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark navbar-dark">
            <a class="navbar-brand" href="/">KNK Market</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home" aria-hidden="true"></i> Home 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-question" aria-hidden="true"></i>
                            About Us 
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </button>
                </form>
            </div>
        </nav>

        <div class="mg-top">
            <div class="container item-container-mg-top">
                <div class="row">
                    <div id="left-p" class="col-md-3 align-self-start item-container">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="row paddimize">
                            <div class="align-self-start col-md-4">
                                <i class="fa fa-5x fa-user" aria-hidden="true"></i>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <button class="btn">logout</button>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <p>Username: {{app.user.username}}</p>
                                <p style="text-overflow:string">Email: {{app.user.email}}</p>
                                
                            </div>
                        </div>
                    {% else %}
                        {{ render(controller(
                            'MIKWebsiteBundle:AllPageSecurity:login'
                        )) }}
                    {% endif %}
                    </div>
                    <div id="right-p" class="col-md-9 align-self-start">
                            <!-- The right side pane -->
                            {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        </div>


        <footer class="mg-top bg-dark navbar-light" id="main-footer">
            <div class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <div class="row">
                    <div class="col-md-2 align-self-center">
                        <img src="{{ asset('img/madeinkorea1.png') }}">
                    </div>
                    <div class="col-md-10">
                        <p>Beside Petron on M.C Briones St. Mandaue</p>
                        <p>KNK Market, a MIK Prime Impression Company<br>&copy; 2017 MIK Prime Impression, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="#">About Us</a></p> 
                    </div>
                </div>
            </div>
        </footer>        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>

        <script src="{{ asset('js/propper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
