<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% include 'bootstrapCSS.html.twig' %}  
        
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/foslayout.css') }}">

    </head>
    <body>
        {% include 'navbar.html.twig' %}  
        <div class="mg-top">
            <div class="container item-container-mg-top">
                <div class="row">
                    <div id="left-p" class="col-md-3 align-self-start">
                        <div class="item-container paddimize-bottom">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="row ">
                                    <div class="align-self-start col-md-4">
                                        <i class="fa fa-5x fa-user" aria-hidden="true"></i>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <button class="btn">logout</button>
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Username: {{app.user.username}}</p>
                                        <p style="text-overflow:string">Email: {{app.user.email}}</p>
                                        
                                    </div>
                                </div>
                            {% else %}
                                {{ render(controller(
                                    'MIKWebsiteBundle:AllPageSecurity:login'
                                )) }}
                            {% endif %}
                        </div>

                        {% include 'productSideMenu.html.twig' %}  

                    </div>
                    <div id="right-p" class="col-md-9 align-self-start">
                            <!-- The right side pane -->
                            {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="pop-bottom-message">
            This website is in alpha version
            <Br> The construction of this is still ongoing
        </div>

        {% include 'footer.html.twig' %}  
               

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        {% include 'bootstrapJS.html.twig' %}  

        {% block javascripts %}{% endblock %}
    </body>
</html>
