{% extends "::base.html.twig" %}

{% block title %}KNK Market | Product{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/website/productlist/css/productlist.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center mg-top-small">
        PRODUCT
    </div>
    <div class="mg-top-small product-display">
        <div class="row">
            {% for key, product in products %}
                <div class="text-center card col-md-4 product-list">
                    <div class="card-body">
                        {% if product is empty %}
                            <a href="#">
                                {{ key }}
                            </a>
                        {% else %}
                            {{ key }}
                            <i class="fa fa-chevron-right right" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    {% if product is not empty %}
                        <ul class="product-type-list hide-type-list">
                            <h6>{{ key }}</h6>
                            {% for prod in product %}
                                    <li>{{ prod }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/website/productlist/js/productlist.js') }}"></script>
{% endblock %}