{% extends "::base.html.twig" %}

{% block title %}KNK Market | Product{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/website/productlist/css/productlist.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center mg-top-small">
        PRODUCT
    </div>
    <div class="mg-top-small product-display">
        <div class="row">
            {% for key, product in products %}
                <div class="text-center card col-md-4 product-list">
                    <div class="card-body">
                        {% if product is empty %}
                            <a href="#">
                                {{ key }}
                            </a>
                        {% else %}
                            {{ key }}
                            <i class="fa fa-chevron-right right" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    {% if product is not empty %}
                        <ul class="product-type-list hide-type-list">
                            <h6>{{ key }}</h6>
                            {% for prod in product %}
                                    <a href="#"><li>{{ prod }}</li></a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mg-top-small">
        <h5 class="row">Featured Prodcut</h5>
        <div class="row">
            <div class="text-center card-item card col-md-4 col-sm-12 col-12 mg-top-small" >
                <img class="card-img-top prod-img" src="{{ asset('img/pr1.jpg') }}" alt="Card image cap">
                <div class="card-header">
                    {{ 'Burner 1x2 ring 4x1 ring' | upper }}
                </div>
                <div class="card-body">
                    <p class="card-tex">Size: (90x60x80)
                    <span class="badge badge-primary">Price: ₱18,000.00</span></p>
                </div>
                <a href="#" class="add-card-button">
                    <div class="card-footer">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Add Cart
                    </div>
                </a>
            </div>

            <div class="text-center card-item card col-md-4 col-sm-12 col-12 mg-top-small" >
                <img class="card-img-top prod-img" src="{{ asset('img/pr2.jpg') }}" alt="Card image cap">
                <div class="card-header">
                    {{ 'SS-SWNT2' | upper }}
                </div>
                <div class="card-body">
                    <p class="card-tex">Size: (90x60x80)
                    <span class="badge badge-primary">Price: ₱8,500.00</span></p>
                </div>
                <a href="#" class="add-card-button">
                    <div class="card-footer">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Add Cart
                    </div>
                </a>
            </div>
            
            <div class="text-center card-item card col-md-4 col-sm-12 col-12 mg-top-small" >
                <img class="card-img-top prod-img" src="{{ asset('img/pr3.jpg') }}" alt="Card image cap">
                <div class="card-header">
                    {{ 'WS-4DF Freezer' | upper }}
                </div>
                <div class="card-body">
                    <p class="card-tex">Size: --- 
                    <span class="badge badge-primary">Price: ₱90,000.00</span></p>
                </div>
                <a href="#" class="add-card-button">
                    <div class="card-footer">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Add Cart
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/website/productlist/js/productlist.js') }}"></script>
{% endblock %}